*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}
div{
    height:100vh;
    width:100vw;
    color: red;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
}
.big{
    background:url("./Images/Big.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top rgb(5, 5, 5) rgb(0, 0, 0));
}
.small{
background: url("./Images/small.jpg");
background-size: cover;
}
.folder{
    background:url("./Images/fol/pexels-tima-miroshnichenko-5717641.jpg");
    background-size: cover;
    background-position:50% 50%;
}
.h1{
    background: linear-gradient(150deg rgba(21, 234, 6, 0.315) rgb(1, 0, 16),url("./Images/small.jpg"));
}